/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--primary-color);
  background-color: var(--white-color-);
  min-height: 100vh;

}
a{
  all: unset;
  cursor: pointer;
}
main {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}


.container {
  width: 90%;
  max-width: var(--container-xl);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
  gap: 8px;
  position: relative;
}

.error {
  padding: 4px 12px;
  color: $error-color;
  background: #000000c1;
  border-radius: 4px;
  margin: 2px 0;
  font-weight: 500;
}
