/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--primary-color);
  background-color: var(--white-color-);
  min-height: 100vh;
}
main{
  position: relative;
  
}


.container {
  width: 80%;
  max-width: var(--container-xl);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

.error{
	padding: 4px 12px;
	color: $error-color;
}
