@import "abstracts/variables";
@import "abstracts/component";
/* Header Styles */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $black-80;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid $light-color;
  z-index: $z-index-fixed;
  transition: all $transition-base;
  padding: 0 24px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-md 0;
}

.logo {
  width: 150px;
  height: auto;
}
.logo-img {
  width: 100%;
  height: auto;
}

.nav {
  display: flex;
  gap: $spacing-lg;
}

.nav-link {
  text-decoration: none;
  color: $white-20;
  font-weight: $font-weight-medium;
  padding: $spacing-sm 0;
  position: relative;
  transition: all $transition-base;
  font-family: $font-family-heading;
}

.nav-link:hover,
.nav-link.active {
  color: $white-80;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $white-40;
}

.header-actions {
  display: flex;
  gap: $spacing-md;
  align-items: center;
}

.mobile-menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: $white-color;
  cursor: pointer;
  background: $primary-color;
  border-radius: 4px;
  padding: 4px;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white-color;
  z-index: $z-index-modal;
  transform: translateX(-100%);
  transition: transform $transition-base;
}

.mobile-menu.active {
  transform: translateX(0);
}

.mobile-menu-content {
  padding: $spacing-lg;
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-lg;
}

.mobile-menu-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: $white-color;
  cursor: pointer;
  background: $primary-color;
  border-radius: 4px;
  padding: 4px;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  margin-bottom: $spacing-lg;
}

.mobile-nav-link {
  text-decoration: none;
  color: $black-60;
  font-weight: $font-weight-medium;
  padding: $spacing-md 0;
  border-bottom: 1px solid $light-color;
}

.mobile-menu-actions {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

@media screen and (max-width: 968px) {
  .nav , .header-actions {
    display: none;
  }
  .mobile-menu-toggle {
    display: block;
  }
  
}