<div class="space-card" [class.featured]="space.featured">
  <div *ngIf="space.featured" class="space-badge">Popular</div>
  <div class="space-image-banner">
    <img [src]="space.imageUrl" [alt]="space.name">
  </div>
  <div class="space-content">
    <h3 class="space-title">{{ space.name }}</h3>
    <p>{{ space.description }}</p>
    <ul class="space-features">
      <li *ngFor="let amenity of space.amenities">
        <i class="fas fa-{{ amenity.icon }}"></i>
        {{ amenity.name }}
      </li>
    </ul>
  </div>
</div>
