@import '../../assets/styles/abstracts/variables';

.profile-wrapper {
  max-width: 480px;
  margin: 0 auto;
  background: $white-color;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-lg;
  padding: $spacing-xl $spacing-lg;
  margin: $spacing-xl auto;
}

.profile-title {
  font-family: $font-family-heading;
  font-size: $font-size-xl;
  color: $primary-color;
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-lg;
  text-align: center;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  margin: 12px 0;
  label{
    font-family: sec2;
    font-size: $font-size-lg;
  }
}

input, select {
  padding: $spacing-md;
  border: 1px solid $grey-color;
  border-radius: $border-radius-md;
  font-size: $font-size-base;
  font-family: $font-family-base;
  transition: border-color $transition-base;
}

input:focus, select:focus {
  outline: none;
  border-color: $primary-color;
}

.form-actions {
  display: flex;
  gap: $spacing-md;
  margin-top: $spacing-md;
  justify-content: flex-start;
  button{
    width: 100%;
  }
}



.profile-view {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  margin-top: $spacing-lg;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  font-size: $font-size-base;
  color: $grey-color;
}

.label {
  color: $primary-color;
  font-weight: $font-weight-medium;
}
