<app-side-bar class="slide-in-left"></app-side-bar>
<div class="auth-layout-wrapper">
  <main class="auth-main-content">
    <header class="dashboard-header slide-in-up">
      <h2 class="dashboard-title">{{ pageTitle }}</h2>
      <div class="dashboard-actions">
        <!-- <div class="search-bar">
              <i class="fas fa-search"></i>
              <input type="text" placeholder="Search..." class="search-input">
            </div>
            <div class="notifications">
              <button class="notification-btn">
                <i class="fas fa-bell"></i>
                <span class="notification-badge">3</span>
              </button>
            </div> -->
        <div
          class="user-profile"
          (click)="toggleUserDropdown()"
          (clickOutside)="showUserDropdown = false"
        >
          <span class="user-avatar">
            <i class="fas fa-user user-avatar"></i>
          </span>
          <span class="user-name">{{ user?.username }}</span>
          <i class="fas fa-chevron-down"></i>

          <div class="user-dropdown" *ngIf="showUserDropdown">
            <div class="dropdown-header">
              <i class="fas fa-user user-avatar dropdown-avatar"></i>
              <div class="dropdown-user-info">
                <h4>{{ user?.username }}</h4>
                <p>{{ user?.email }}</p>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/dashboard/profile"
                  ><i class="fas fa-user"></i> My Profile</a
                >
              </li>
              <!-- <li>
                <a routerLink="/dashboard/settings"
                  ><i class="fas fa-cog"></i> Settings</a
                >
              </li> -->
              <li>
                <a routerLink="/dashboard/help"
                  ><i class="fas fa-question-circle"></i> Help Center</a
                >
              </li>
              <li>
                <a (click)="logout()" class="logout-link"
                  ><i class="fas fa-sign-out-alt"></i> Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <section class="dashboard-content fade-in">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
