@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/functions';
@import './abstracts/component';
@import './base/reset';
@import './base/typography';
@import './base/animations';
// Add more imports as needed

@font-face {
  font-family: primary;
  src: url("/assets/fonts/honfleur-regular.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: accent;
  src: url("/assets/fonts/AleynaPersonalUse-Regular.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: secondary;
  src: url("/assets/fonts/tafel-sans-pro-regular.woff") format('woff');
  font-display: swap;
}
