@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/functions';
@import './abstracts/component';
@import './base/reset';
@import './base/typography';
@import './base/animations';
// Add more imports as needed

@font-face {
  font-family: main;
  src: url("/assets/fonts/honfleur-regular.otf") format('opentype');
  font-display: swap;
}
@font-face {
  font-family: sec1;
  src: url("/assets/fonts/Dhan Studio - Arsilon.otf") format('opentype');
  font-display: swap;
}
@font-face {
  font-family: sec2;
  src: url("/assets/fonts/AleynaPersonalUse-Regular.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: sec3;
  src: url("/assets/fonts/acumin.ttf") format('truetype');
  font-display: swap;
}
